<tr>
  <td><%= list_animal.name %></td>
  <td><%= list_animal.age %></td>
  <td><%= link_to 'Show', list_animal %></td>
  <td><%= link_to 'Edit', edit_animal_path(list_animal) %></td>
  <td><%= link_to 'Destroy', list_animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
